body {
    font-family: 'Georgia', serif;
    padding: 20px;
    background-color: #e4decd; 
}

table {
    width: 60%;
    margin: auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    background-color: #fffaf0;
}

caption {
    caption-side: top;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #6b4c3b;
}

th, td {
    border: 2px solid #130b01;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #a67c52;
    color: #fff;
}

tr:hover {
    background-color: #e6d3b3;
}
